<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="defaultConStr" value="Data Source=(local)\SQLEXPRESS;Initial Catalog=CaseControlDB;Trusted_Connection=True"/>
  </appSettings>
</configuration>
