<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CaseControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="defaultConStr" value="Server={0};Database={1};User Id={2};Password={3};"/>
    <add key="masterConStr" value="Server={0};Database=master;User Id={1};Password={2};"/>
    <add key="createDBScript" value="create database CaseControlDB#
         create table CaseControlDB.dbo.CaseInformation (FileID bigint,InitialInformation nvarchar(300),DefendantName nvarchar(100),OriginatingAttorny nvarchar(100),AssignedAttorny nvarchar(100), Referral nvarchar(100))#
         create table CaseControlDB.dbo.ClientAutoDetails (FileID bigint, InsuranceCompany nvarchar(100), Address nvarchar(100),City nvarchar(100),PhoneNumber nvarchar(100), Adjuster nvarchar(100), State nvarchar(100),Zip nvarchar(20))#
create table CaseControlDB.dbo.ClientBasicDetails(FileID bigint,Address nvarchar(200), City nvarchar(100),  State nvarchar(100), HomePhone nvarchar(20), CellPhone nvarchar(20), LicenseNumber nvarchar(30),DateOfBirth datetime, SSN nvarchar(100), Email nvarchar(100), SuiteAddress nvarchar(100), WorkPhone nvarchar(100))#
create table CaseControlDB.dbo.ClientCourtDetails(FileID bigint, CaseNumber nvarchar(100),Court nvarchar(100), Address nvarchar(100), City nvarchar(100), State nvarchar(100),  Zip nvarchar(100))#
create table CaseControlDB.dbo.ClientEmployerDetails (FileID bigint, Occupation nvarchar(100), Employer nvarchar(100), Address nvarchar(100),City nvarchar(100),State nvarchar(100))#create table CaseControlDB.dbo.ClientEvidences (FileID int, Evidence nvarchar(100))#
create table CaseControlDB.dbo.ClientFileMaster (ClientID bigint, CaseTypeID int, AccidentDate datetime, CaseStatus nvarchar(100),  FileID int)#
create table CaseControlDB.dbo.[ClientGovtClaims-City] (FileID bigint,DeniedDate datetime,DeniedDateAfter180days datetime,ClaimDueDate datetime, ClaimDueDateAfter60Days datetime, ClaimDueDateAfter2yrs datetime, ClaimDueDateAfter3yrs datetime, ClaimDueDateAfter5yrs datetime)#
create table CaseControlDB.dbo.[ClientGovtClaims-Country] (FileID bigint, DeniedDate datetime, DeniedDateAfter180Days datetime,FiledDate datetime, FiledDateAfter60Days datetime,FiledDateAfter2yrs datetime, FiledDateAfter3yrs datetime,FiledDateAfter5yrs datetime)#
create table CaseControlDB.dbo.[ClientGovtClaims-Other](FileID bigint, DeniedDate datetime,DeniedDateAfter180Days datetime,FiledDate datetime,  FiledDateAfter60Days datetime,  FiledDateAfter2yrs datetime,FiledDateAfter3yrs datetime, FiledDateAfter5yrs datetime)#
create table CaseControlDB.dbo.[ClientGovtClaims-State](FileID bigint, DeniedDate datetime, DeniedDateAfter180Days datetime, FiledDate datetime,FiledDateAfter60Days datetime,FiledDateAfter2yrs datetime,FiledDateAfter3yrs datetime, FiledDateAfter5yrs datetime)#
create table CaseControlDB.dbo.ClientInjuries (FileID int,InjuryNoteNumber nvarchar(100), CreatedDate datetime, LastModifiedDate datetime,Description nvarchar(500))#
create table CaseControlDB.dbo.ClientMaster(ClientID bigint identity(1,1) constraint PK_ClientMaster  primary key ,FirstName nvarchar(150) not null, LastName nvarchar(100)not null, IsActive bit not null,ClientCreatedOn nvarchar(100))#
create table CaseControlDB.dbo.ClientMedicalInsurance (FileID bigint,NamedInsured nvarchar(100), InsuranceCompany nvarchar(100),Address nvarchar(100),City nvarchar(100), State nvarchar(100),Zip nvarchar(20),PhoneNumber nvarchar(20), PolicyNumber nvarchar(100),MediCalNumber nvarchar(100),MediCareNumber nvarchar(100), ClaimNumber nvarchar(100))#
create table CaseControlDB.dbo.ClientMiscNotes(FileID bigint,NoteNumber nvarchar(100),CreatedDate datetime,ModifiedDate datetime, Description nvarchar(500))#
create table CaseControlDB.dbo.ClientPolicyDetails (FileID  bigint,PolicyNumber nvarchar(100), EffectiveStartDate datetime,Amount float, EffectiveEndDate datetime,LiabilityMinCoverage float,LiabilityMaxCoverage float,UMIMinValue float,UMIMaxValue float,Notes nvarchar(300), MedPayAvailable nvarchar(1), Reimbursable nvarchar(1))#
create table CaseControlDB.dbo.ClientSpouseDetails(FileID bigint, FirstName nvarchar(100), LastName nvarchar(100), Occupation nvarchar(100),Employer nvarchar(100), Address nvarchar(100),City nvarchar(100),State nvarchar(100))#
create table CaseControlDB.dbo.ClientTransactionDetails (FileID int, TransactionID int, TransactionDate datetime, Description nvarchar(500),BillingType nvarchar(50),GeneralFund float,TrustFund float,CheckNo nvarchar(50))#
create table CaseControlDB.dbo.DefendantInformation (FileID bigint, LastName nvarchar(100),FirstName nvarchar(100),Address nvarchar(100),City nvarchar(100),State nvarchar(100),Zip nvarchar(100),HomePhone nvarchar(20), BusinessPhone nvarchar(20), DateOfBirth datetime,LicenseNumber nvarchar(30))#
create table CaseControlDB.dbo.DefendantInsuranceDetails (FileID bigint, NameOfInsured nvarchar(100), InsuranceCompany nvarchar(100), Address nvarchar(100),City nvarchar(100), State nvarchar(100), Zip nvarchar(100),PhoneNumber nvarchar(100), Adjuster nvarchar(100),ClaimNumber nvarchar(100),PolicyLimits nvarchar(100))#
create table CaseControlDB.dbo.DefendantAttorneyDetails(FileID bigint,Firm nvarchar(100), Attorney nvarchar(100), Address nvarchar(100),City nvarchar(100),State nvarchar(100),Zip nvarchar(100),PhoneNumber nvarchar(100))#
create table CaseControlDB.dbo.LuBillingType(Id int,Type nvarchar(50))#
create table CaseControlDB.dbo.LuCaseType(CaseType nvarchar(150), CaseTypeID int Identity(1,1))#
create table CaseControlDB.dbo.OtherCaseType(CaseTypeID int,CaseType nvarchar(100))# 
create table CaseControlDB.dbo.StatuteInformation (FileID bigint, AccidentDate datetime,AccDateAfter1yr datetime,AccDateAfter2yr datetime, ComplaintFileDate datetime,ComplaintAfter60days datetime,ComplaintAfter2yrs datetime,ComplaintAfter3yrs datetime,ComplaintAfter5yrs datetime,IsGovtClaim bit)#
create table CaseControlDB.dbo.Users (UserName nvarchar(100), IsAdmin bit, Password nvarchar(100))#
insert into CaseControlDB.dbo.LuCaseType(CaseType) values ('Injury')#
insert into CaseControlDB.dbo.LuCaseType(CaseType) values ('Illness')#
insert into CaseControlDB.dbo.LuCaseType(CaseType) values ('Death')#
insert into CaseControlDB.dbo.LuBillingType(Type) values ('General Account Debit')#
insert into CaseControlDB.dbo.LuBillingType(Type) values ('General Account Credit')#
insert into CaseControlDB.dbo.LuBillingType(Type) values ('Trust Account Debit')#
insert into CaseControlDB.dbo.LuBillingType(Type) values ('Trust Account Credit')#"/>
  </appSettings>
  <userSettings>
    <CaseControl.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
    </CaseControl.Properties.Settings>
  </userSettings>
</configuration>
